@page
@using CowboyCafe.Data;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cowboy Cafe!!</h1>
    <p>We at Cowboy Cafe are proud to bring you authentic trail meals from the American West. Shake off the dust on your boots and sake your thirst with one of our old-fashioned hand-jerked sodas. Dip your Pan de Campo into a bowl of beans. Or conquer the the mighty Texas Triple Burger! You’ve had a hard ride - so take it easy with us.</p>
</div>

<h2>Menu:</h2>
<h3>Entree</h3>

<ul class="menu-list">
    @foreach (IOrderItem item in Menu.CompleteMenu)
    {
        <li>
            <div class="menu-item">
                <div class="name">@item.ToString()</div>
                <div class="prices">@item.Price</div>
                <div class="calories">@item.Calories</div>
            </div>
        </li>
    }
</ul>
